.wrapper {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.75rem;
  
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.wrapper p {
  width: 39.5rem;  
}

.wrapper input, .wrapper button {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.wrapper input {  
  padding: 0.20456rem;  
}

.wrapper button {  
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none; /* Remove o estilo padrão do sistema */
  -webkit-appearance: none;
  width: 20px; /* Ajuste o tamanho do checkbox */
  height: 20px;
  border: 2px solid blue; /* Adicione uma borda azul */
  border-radius: 50%; /* Torna o checkbox arredondado */
  outline: none; /* Remove a borda de foco padrão */
  transition: border-color 0.3s ease-in-out; /* Adicione uma transição suave */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
}